$font-color              : #333333;
$font-color-light        : #666666;
$font-color-lighter      : #999999;

$color-normal            : #008CBA;
$color-dark              : #005F8C;
$color-light             : #20C8FF;

$background-color        : #55A6FF;
$content-background-color: #FFFFFF;
$border-blue             : rgba(109, 155, 165, 0.8);