@import "settings";
@import "foundation";

@import "colors";
@import "new";
@import "preview";

@import "components/drop-zone";

body {
	background-color: $background-color;
	color: $font-color;
}

button {
	@extend .radius;
}

.status {
	position: fixed;
	left: 50%;
	opacity: 1;
	visibility: visible;
	z-index: 1000;
	transition: opacity 1s ease 0s, visibility 0s linear 1s;

	&.hidden {
		visibility: hidden;
		opacity: 0;;
	}
	
	.label {
		font-size: 14px;
		position: relative;
		left: -50%;
		z-index: 1000;
	}
}

.header {
	h1 {
		color: $color-dark;
		margin-bottom: 40px;
	}
}

.content {
	background-color: $content-background-color;
	padding: 40px 20px 20px 20px;
	height: 100%;
}

.invisible {
	visibility: hidden;
}