<div {{bind-attr class=":status status::hidden"}}>
    <span class="radius warning label">{{status}}</span>
</div>

<div class="row">
    <div class="content text-center medium-centered medium-9 columns">
        <div class="header">
            <h1 id='title'>Voucher Generator</h1>
        </div>
        {{outlet}}
    </div>
</div>
