<div class="row">
    <div class="content columns large-9">
        <h2 id='title'>Welcome to Ember.js</h2>
        {{#file-upload action="upload"}}Upload{{/file-upload}}
        <img id="image" {{bind-attr src="image"}}/>
    </div>
</div>
